# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Environment Variables
.env
.env*

# Database
*.db
*.db-shm
*.db-wal

# Node
node_modules/
.next/
out/
build/
.DS_Store

# Logs
*.log

lint_report.txt
*_report.txt
list_models.py
